<a href="https://colab.research.google.com/github/dajebbar/FreeCodeCamp-python-data-analysis/blob/main/CountFrequencyEncoding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Count Frequency Encoding Technique

Replace each of the categorical variable by the count

- Advantages: Curse of Dimensionality was not occured
- Disvantages: if two labels of categorical variable contain the same number of observations, they will be combined and may **loose valuable information**

In [1]:
import numpy as np
import pandas as pd

In [2]:
crop = pd.read_csv('./crop_production.csv')
crop.head()

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production
0,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Arecanut,1254.0,2000.0
1,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Other Kharif pulses,2.0,1.0
2,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Rice,102.0,321.0
3,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Banana,176.0,641.0
4,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Cashewnut,720.0,165.0

In [3]:
crop.select_dtypes(include='object').head()

                    State_Name District_Name       Season                 Crop
0  Andaman and Nicobar Islands      NICOBARS  Kharif                  Arecanut
1  Andaman and Nicobar Islands      NICOBARS  Kharif       Other Kharif pulses
2  Andaman and Nicobar Islands      NICOBARS  Kharif                      Rice
3  Andaman and Nicobar Islands      NICOBARS  Whole Year                Banana
4  Andaman and Nicobar Islands      NICOBARS  Whole Year             Cashewnut

In [4]:
# transform each categorical serie to dictionary

def serie_to_dic(df, cat):
  return df[cat].value_counts().to_dict()

In [5]:
serie_to_dic(crop, 'State_Name')

{'Andaman and Nicobar Islands': 203,
 'Andhra Pradesh': 9628,
 'Arunachal Pradesh': 2546,
 'Assam': 14628,
 'Bihar': 18885,
 'Chandigarh': 90,
 'Chhattisgarh': 10709,
 'Dadra and Nagar Haveli': 263,
 'Goa': 208,
 'Gujarat': 8436,
 'Haryana': 5875,
 'Himachal Pradesh': 2494,
 'Jammu and Kashmir ': 1634,
 'Jharkhand': 1266,
 'Karnataka': 21122,
 'Kerala': 4261,
 'Madhya Pradesh': 22943,
 'Maharashtra': 12628,
 'Manipur': 1267,
 'Meghalaya': 2867,
 'Mizoram': 957,
 'Nagaland': 3906,
 'Odisha': 13575,
 'Puducherry': 876,
 'Punjab': 3173,
 'Rajasthan': 12514,
 'Sikkim': 714,
 'Tamil Nadu': 13547,
 'Telangana ': 5649,
 'Tripura': 1412,
 'Uttar Pradesh': 33306,
 'Uttarakhand': 4896,
 'West Bengal': 9613}