<a href="https://colab.research.google.com/github/dajebbar/FreeCodeCamp-python-data-analysis/blob/main/HandlingMissingValues.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns
import missingno as msno

plt.style.use('fivethirtyeight')
%matplotlib inline

In [2]:
!pip install opendatasets --upgrade --quiet

In [3]:
import opendatasets as od

od.version()

'0.1.20'

In [4]:
url = 'https://www.kaggle.com/jsphyg/weather-dataset-rattle-package'
od.download(url)

Skipping, found downloaded files in "./weather-dataset-rattle-package" (use force=True to force download)

In [5]:
import os

data_dir = 'weather-dataset-rattle-package'

os.listdir(data_dir)
weather = data_dir + '/weatherAUS.csv'

In [6]:
df = pd.read_csv(weather)
df.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145460 entries, 0 to 145459
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           145460 non-null  object
 1   Location       145460 non-null  object
 2   MinTemp        143975 non-null  float64
 3   MaxTemp        144199 non-null  float64
 4   Rainfall       142199 non-null  float64
 5   Evaporation    82670 non-null   float64
 6   Sunshine       75625 non-null   float64
 7   WindGustDir    135134 non-null  object
 8   WindGustSpeed  135197 non-null  float64
 9   WindDir9am     134894 non-null  object
 10  WindDir3pm     141232 non-null  object
 11  WindSpeed9am   143693 non-null  float64
 12  WindSpeed3pm   142398 non-null  float64
 13  Humidity9am    142806 non-null  float64
 14  Humidity3pm    140953 non-null  float64
 15  Pressure9am    130395 non-null  float64
 16  Pressure3pm    130432 non-null  float64
 17  Cloud9am       89572 non-null   float64
 18  Cloud3pm       86102 non-null   float64
 19  Temp9am        143693 non-null  float64
 20  Temp3pm        141851 non-null  float64
 21  RainToday      142199 non-null  object
 22  RainTomorrow   142193 non-null  object
dtypes: float64(16), object(7)
memory usage: 25.5+ MB

In [8]:
df.shape

(145460, 23)

In [9]:
df.isna().sum()

Date                 0
Location             0
MinTemp           1485
MaxTemp           1261
Rainfall          3261
Evaporation      62790
Sunshine         69835
WindGustDir      10326
WindGustSpeed    10263
WindDir9am       10566
WindDir3pm        4228
WindSpeed9am      1767
WindSpeed3pm      3062
Humidity9am       2654
Humidity3pm       4507
Pressure9am      15065
Pressure3pm      15028
Cloud9am         55888
Cloud3pm         59358
Temp9am           1767
Temp3pm           3609
RainToday         3261
RainTomorrow      3267
dtype: int64

In [10]:
df.dtypes.value_counts()

float64    16
object      7
dtype: int64

In [11]:
print(df.RainTomorrow.isna().sum())
print(df.RainTomorrow.isna().sum() * 100 / len(df))

3267
2.245978275814657

In [12]:
df.RainTomorrow.value_counts(dropna=False, normalize=True)

No     0.758394
Yes    0.219146
NaN    0.022460
Name: RainTomorrow, dtype: float64

In [13]:
df.select_dtypes(include='object').describe().T

               count unique         top    freq
Date          145460   3436  2013-11-12      49
Location      145460     49    Canberra    3436
WindGustDir   135134     16           W    9915
WindDir9am    134894     16           N   11758
WindDir3pm    141232     16          SE   10838
RainToday     142199      2          No  110319
RainTomorrow  142193      2          No  110316

In [14]:
cat_features = df.select_dtypes(include='object').columns.tolist()
cat_features = cat_features[1:]
num_features = df.select_dtypes(include='number').columns.tolist()

In [15]:
for label in cat_features:
  print(label, ':\n')
  print(df[label].value_counts(dropna=False).sort_values(ascending=False))
  print('-*-' * 50)

Location :

Canberra            3436
Sydney              3344
Darwin              3193
Melbourne           3193
Brisbane            3193
Adelaide            3193
Perth               3193
Hobart              3193
Launceston          3040
Wollongong          3040
MountGinini         3040
Albury              3040
AliceSprings        3040
Bendigo             3040
Cairns              3040
Townsville          3040
Ballarat            3040
MountGambier        3040
GoldCoast           3040
Albany              3040
Newcastle           3039
Tuggeranong         3039
Penrith             3039
WaggaWagga          3009
MelbourneAirport    3009
Richmond            3009
SydneyAirport       3009
Portland            3009
Williamtown         3009
Dartmoor            3009
Watsonia            3009
Mildura             3009
NorfolkIsland       3009
Nuriootpa           3009
BadgerysCreek       3009
Witchcliffe         3009
PearceRAAF          3009
PerthAirport        3009
Sale                3009
Moree               3009
CoffsHarbour        3009
Cobar               3009
Woomera             3009
Walpole             3006
NorahHead           3004
SalmonGums          3001
Katherine           1578
Nhil                1578
Uluru               1578
Name: Location, dtype: int64
-*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*-
WindGustDir :

NaN    10326
W       9915
SE      9418
N       9313
SSE     9216
E       9181
S       9168
WSW     9069
SW      8967
SSW     8736
WNW     8252
NW      8122
ENE     8104
ESE     7372
NE      7133
NNW     6620
NNE     6548
Name: WindGustDir, dtype: int64
-*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*-
WindDir9am :

N      11758
NaN    10566
SE      9287
E       9176
SSE     9112
NW      8749
S       8659
W       8459
SW      8423
NNE     8129
NNW     7980
ENE     7836
NE      7671
ESE     7630
SSW     7587
WNW     7414
WSW     7024
Name: WindDir9am, dtype: int64
-*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*-
WindDir3pm :

SE     10838
W      10110
S       9926
WSW     9518
SSE     9399
SW      9354
N       8890
WNW     8874
NW      8610
ESE     8505
E       8472
NE      8263
SSW     8156
NNW     7870
ENE     7857
NNE     6590
NaN     4228
Name: WindDir3pm, dtype: int64
-*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*-
RainToday :

No     110319
Yes     31880
NaN      3261
Name: RainToday, dtype: int64
-*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*-
RainTomorrow :

No     110316
Yes     31877
NaN      3267
Name: RainTomorrow, dtype: int64
-*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*-

## Map RainToday and RainTomorrow

In [16]:
df['RainTomorrow'] = df['RainTomorrow'].map({'No':0, 'Yes':1})
df['RainToday'] = df['RainToday'].map({'No':0, 'Yes':1})

In [17]:
df[['RainToday', 'RainTomorrow']].sample(10)

        RainToday  RainTomorrow
57562         0.0           0.0
115073        0.0           0.0
101744        0.0           0.0
99709         0.0           0.0
72454         0.0           0.0
99650         1.0           0.0
77987         1.0           1.0
19383         1.0           1.0
84618         1.0           0.0
36282         1.0           1.0

## Apply the "Binary Encoder"

Binary Encoding converts a category into binary digit creates one columns. If there are **n** unique categories, then binary encoding results in the only **$log_2{n}$** features.

## Steps:
- The categories are first converted to numeric order starting from 1 (order is created as categories appear in a dataset and do not mean any ordinal natue).
- Then those integers are converted to binary digits code
- Then the digits of the binary number from separate column

In [18]:
!pip install category_encoders --quiet

In [19]:
print(cat_features)
binary_cat = cat_features[:-2]
print(binary_cat)

['Location', 'WindGustDir', 'WindDir9am', 'WindDir3pm', 'RainToday', 'RainTomorrow']
['Location', 'WindGustDir', 'WindDir9am', 'WindDir3pm']

In [20]:
import category_encoders as ce

# create instance of binary encoding
encoder = ce.BinaryEncoder(df[binary_cat])

# fit and transform to get encoded cat
bin = encoder.fit_transform(df[binary_cat])
bin.head()

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

,Location_0,Location_1,Location_2,Location_3,Location_4,Location_5,WindGustDir_0,WindGustDir_1,WindGustDir_2,WindGustDir_3,...,WindDir9am_0,WindDir9am_1,WindDir9am_2,WindDir9am_3,WindDir9am_4,WindDir3pm_0,WindDir3pm_1,WindDir3pm_2,WindDir3pm_3,WindDir3pm_4
0,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
1,0,0,0,0,0,1,0,0,0,1,...,0,0,0,1,0,0,0,0,1,0
2,0,0,0,0,0,1,0,0,0,1,...,0,0,0,0,1,0,0,0,1,0
3,0,0,0,0,0,1,0,0,1,0,...,0,0,0,1,1,0,0,0,1,1
4,0,0,0,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0

In [21]:
df2 = pd.concat([bin, df.drop(columns=binary_cat)], axis=1)
df2.head()

,Location_0,Location_1,Location_2,Location_3,Location_4,Location_5,WindGustDir_0,WindGustDir_1,WindGustDir_2,WindGustDir_3,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,0,0,0,0,0,1,0,0,0,0,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,0.0,0.0
1,0,0,0,0,0,1,0,0,0,1,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,0.0,0.0
2,0,0,0,0,0,1,0,0,0,1,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,0.0,0.0
3,0,0,0,0,0,1,0,0,1,0,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,0.0,0.0
4,0,0,0,0,0,1,0,0,0,0,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,0.0,0.0

In [22]:
df2.columns

Index(['Location_0', 'Location_1', 'Location_2', 'Location_3', 'Location_4',
       'Location_5', 'WindGustDir_0', 'WindGustDir_1', 'WindGustDir_2',
       'WindGustDir_3', 'WindGustDir_4', 'WindDir9am_0', 'WindDir9am_1',
       'WindDir9am_2', 'WindDir9am_3', 'WindDir9am_4', 'WindDir3pm_0',
       'WindDir3pm_1', 'WindDir3pm_2', 'WindDir3pm_3', 'WindDir3pm_4', 'Date',
       'MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation', 'Sunshine',
       'WindGustSpeed', 'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am',
       'Humidity3pm', 'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm',
       'Temp9am', 'Temp3pm', 'RainToday', 'RainTomorrow'],
      dtype='object')

## Apply KNN Imputer

In [25]:
from sklearn.impute import KNNImputer

imputer = KNNImputer(n_neighbors=3)

df3 = df2.drop(columns=['Date']).copy()

df3[df3.columns] = imputer.fit_transform(df3[df3.columns])

df3.head()

,Location_0,Location_1,Location_2,Location_3,Location_4,Location_5,WindGustDir_0,WindGustDir_1,WindGustDir_2,WindGustDir_3,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,71.0,22.0,1007.7,1007.1,8.000000,1.000000,16.9,21.8,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,44.0,25.0,1010.6,1007.8,1.000000,1.333333,17.2,24.3,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,38.0,30.0,1007.6,1008.7,0.666667,2.000000,21.0,23.2,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,45.0,16.0,1017.6,1012.8,2.000000,2.666667,18.1,26.5,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,82.0,33.0,1010.8,1006.0,7.000000,8.000000,17.8,29.7,0.0,0.0

In [26]:
df3.isna().sum()

Location_0       0
Location_1       0
Location_2       0
Location_3       0
Location_4       0
Location_5       0
WindGustDir_0    0
WindGustDir_1    0
WindGustDir_2    0
WindGustDir_3    0
WindGustDir_4    0
WindDir9am_0     0
WindDir9am_1     0
WindDir9am_2     0
WindDir9am_3     0
WindDir9am_4     0
WindDir3pm_0     0
WindDir3pm_1     0
WindDir3pm_2     0
WindDir3pm_3     0
WindDir3pm_4     0
MinTemp          0
MaxTemp          0
Rainfall         0
Evaporation      0
Sunshine         0
WindGustSpeed    0
WindSpeed9am     0
WindSpeed3pm     0
Humidity9am      0
Humidity3pm      0
Pressure9am      0
Pressure3pm      0
Cloud9am         0
Cloud3pm         0
Temp9am          0
Temp3pm          0
RainToday        0
RainTomorrow     0
dtype: int64

In [27]:
df3 = pd.concat([df['Date'], df3], axis=1)
df3.head()

,Date,Location_0,Location_1,Location_2,Location_3,Location_4,Location_5,WindGustDir_0,WindGustDir_1,WindGustDir_2,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,71.0,22.0,1007.7,1007.1,8.000000,1.000000,16.9,21.8,0.0,0.0
1,2008-12-02,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,44.0,25.0,1010.6,1007.8,1.000000,1.333333,17.2,24.3,0.0,0.0
2,2008-12-03,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,38.0,30.0,1007.6,1008.7,0.666667,2.000000,21.0,23.2,0.0,0.0
3,2008-12-04,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,...,45.0,16.0,1017.6,1012.8,2.000000,2.666667,18.1,26.5,0.0,0.0
4,2008-12-05,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,82.0,33.0,1010.8,1006.0,7.000000,8.000000,17.8,29.7,0.0,0.0

## Lighten the data

In [28]:
df3.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145460 entries, 0 to 145459
Data columns (total 40 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           145460 non-null  object
 1   Location_0     145460 non-null  float64
 2   Location_1     145460 non-null  float64
 3   Location_2     145460 non-null  float64
 4   Location_3     145460 non-null  float64
 5   Location_4     145460 non-null  float64
 6   Location_5     145460 non-null  float64
 7   WindGustDir_0  145460 non-null  float64
 8   WindGustDir_1  145460 non-null  float64
 9   WindGustDir_2  145460 non-null  float64
 10  WindGustDir_3  145460 non-null  float64
 11  WindGustDir_4  145460 non-null  float64
 12  WindDir9am_0   145460 non-null  float64
 13  WindDir9am_1   145460 non-null  float64
 14  WindDir9am_2   145460 non-null  float64
 15  WindDir9am_3   145460 non-null  float64
 16  WindDir9am_4   145460 non-null  float64
 17  WindDir3pm_0   145460 non-null  float64
 18  WindDir3pm_1   145460 non-null  float64
 19  WindDir3pm_2   145460 non-null  float64
 20  WindDir3pm_3   145460 non-null  float64
 21  WindDir3pm_4   145460 non-null  float64
 22  MinTemp        145460 non-null  float64
 23  MaxTemp        145460 non-null  float64
 24  Rainfall       145460 non-null  float64
 25  Evaporation    145460 non-null  float64
 26  Sunshine       145460 non-null  float64
 27  WindGustSpeed  145460 non-null  float64
 28  WindSpeed9am   145460 non-null  float64
 29  WindSpeed3pm   145460 non-null  float64
 30  Humidity9am    145460 non-null  float64
 31  Humidity3pm    145460 non-null  float64
 32  Pressure9am    145460 non-null  float64
 33  Pressure3pm    145460 non-null  float64
 34  Cloud9am       145460 non-null  float64
 35  Cloud3pm       145460 non-null  float64
 36  Temp9am        145460 non-null  float64
 37  Temp3pm        145460 non-null  float64
 38  RainToday      145460 non-null  float64
 39  RainTomorrow   145460 non-null  float64
dtypes: float64(39), object(1)
memory usage: 52.6 MB

In [30]:
['Location', 'WindGustDir', 'WindDir9am', 'WindDir3pm', 'RainToday', 'RainTomorrow']

df3 = (
    df3.assign(
        Location_0 = df3.Location_0.astype(np.int8),
        Location_1 = df3.Location_1.astype(np.int8),
        Location_2 = df3.Location_2.astype(np.int8),
        Location_3 = df3.Location_3.astype(np.int8),
        Location_4 = df3.Location_4.astype(np.int8),
        Location_5 = df3.Location_5.astype(np.int8),
        WindGustDir_0 = df3.WindGustDir_0.astype(np.int8),
        WindGustDir_1 = df3.WindGustDir_1.astype(np.int8),
        WindGustDir_2 = df3.WindGustDir_2.astype(np.int8),
        WindGustDir_3 = df3.WindGustDir_3.astype(np.int8),
        WindGustDir_4 = df3.WindGustDir_4.astype(np.int8),
        WindDir9am_0 = df3.WindDir9am_0.astype(np.int8),
        WindDir9am_1 = df3.WindDir9am_1.astype(np.int8),
        WindDir9am_2 = df3.WindDir9am_2.astype(np.int8),
        WindDir9am_3 = df3.WindDir9am_3.astype(np.int8),
        WindDir9am_4 = df3.WindDir9am_4.astype(np.int8),
        WindDir3pm_0 = df3.WindDir3pm_0.astype(np.int8),
        WindDir3pm_1 = df3.WindDir3pm_1.astype(np.int8),
        WindDir3pm_2 = df3.WindDir3pm_2.astype(np.int8),
        WindDir3pm_3 = df3.WindDir3pm_3.astype(np.int8),
        WindDir3pm_4 = df3.WindDir3pm_4.astype(np.int8),
        RainToday = df3.RainToday.astype(np.int8),
        RainTomorrow = df3.RainTomorrow.astype(np.int8),

    )
)

df3.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145460 entries, 0 to 145459
Data columns (total 40 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           145460 non-null  object
 1   Location_0     145460 non-null  int8
 2   Location_1     145460 non-null  int8
 3   Location_2     145460 non-null  int8
 4   Location_3     145460 non-null  int8
 5   Location_4     145460 non-null  int8
 6   Location_5     145460 non-null  int8
 7   WindGustDir_0  145460 non-null  int8
 8   WindGustDir_1  145460 non-null  int8
 9   WindGustDir_2  145460 non-null  int8
 10  WindGustDir_3  145460 non-null  int8
 11  WindGustDir_4  145460 non-null  int8
 12  WindDir9am_0   145460 non-null  int8
 13  WindDir9am_1   145460 non-null  int8
 14  WindDir9am_2   145460 non-null  int8
 15  WindDir9am_3   145460 non-null  int8
 16  WindDir9am_4   145460 non-null  int8
 17  WindDir3pm_0   145460 non-null  int8
 18  WindDir3pm_1   145460 non-null  int8
 19  WindDir3pm_2   145460 non-null  int8
 20  WindDir3pm_3   145460 non-null  int8
 21  WindDir3pm_4   145460 non-null  int8
 22  MinTemp        145460 non-null  float64
 23  MaxTemp        145460 non-null  float64
 24  Rainfall       145460 non-null  float64
 25  Evaporation    145460 non-null  float64
 26  Sunshine       145460 non-null  float64
 27  WindGustSpeed  145460 non-null  float64
 28  WindSpeed9am   145460 non-null  float64
 29  WindSpeed3pm   145460 non-null  float64
 30  Humidity9am    145460 non-null  float64
 31  Humidity3pm    145460 non-null  float64
 32  Pressure9am    145460 non-null  float64
 33  Pressure3pm    145460 non-null  float64
 34  Cloud9am       145460 non-null  float64
 35  Cloud3pm       145460 non-null  float64
 36  Temp9am        145460 non-null  float64
 37  Temp3pm        145460 non-null  float64
 38  RainToday      145460 non-null  int8
 39  RainTomorrow   145460 non-null  int8
dtypes: float64(16), int8(23), object(1)
memory usage: 30.2 MB

## Data rescaling

In [31]:
num_features

['MinTemp',
 'MaxTemp',
 'Rainfall',
 'Evaporation',
 'Sunshine',
 'WindGustSpeed',
 'WindSpeed9am',
 'WindSpeed3pm',
 'Humidity9am',
 'Humidity3pm',
 'Pressure9am',
 'Pressure3pm',
 'Cloud9am',
 'Cloud3pm',
 'Temp9am',
 'Temp3pm']

In [32]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
df3[num_features] = scaler.fit_transform(df3[num_features])
df3.head()

,Date,Location_0,Location_1,Location_2,Location_3,Location_4,Location_5,WindGustDir_0,WindGustDir_1,WindGustDir_2,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,0,0,0,0,0,1,0,0,0,...,0.106971,-1.443402,-1.399787,-1.128905,1.667531,-0.941956,-0.009357,0.014742,0,0
1,2008-12-02,0,0,0,0,0,1,0,0,0,...,-1.317577,-1.298089,-0.980309,-1.027772,-0.861440,-0.813923,0.036866,0.377835,0,0
2,2008-12-03,0,0,0,0,0,1,0,0,0,...,-1.634143,-1.055899,-1.414252,-0.897744,-0.981867,-0.557857,0.622354,0.218074,0,0
3,2008-12-04,0,0,0,0,0,1,0,0,1,...,-1.264816,-1.734030,0.032223,-0.305396,-0.500159,-0.301791,0.175534,0.697356,0,0
4,2008-12-05,0,0,0,0,0,1,0,0,0,...,0.687343,-0.910586,-0.951380,-1.287828,1.306249,1.746736,0.129311,1.162114,0,0

In [34]:
df3.RainTomorrow.value_counts(normalize=True)

0    0.779039
1    0.220961
Name: RainTomorrow, dtype: float64

## Split Data

In [47]:
target_column = 'RainTomorrow'
target = df3[target_column]
data = df3.drop(columns=['Date', target_column])
year = pd.to_datetime(df3.Date).dt.year

In [48]:
data.head()

,Location_0,Location_1,Location_2,Location_3,Location_4,Location_5,WindGustDir_0,WindGustDir_1,WindGustDir_2,WindGustDir_3,...,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday
0,0,0,0,0,0,1,0,0,0,0,...,0.622079,0.106971,-1.443402,-1.399787,-1.128905,1.667531,-0.941956,-0.009357,0.014742,0
1,0,0,0,0,0,1,0,0,0,1,...,0.396339,-1.317577,-1.298089,-0.980309,-1.027772,-0.861440,-0.813923,0.036866,0.377835,0
2,0,0,0,0,0,1,0,0,0,1,...,0.847819,-1.634143,-1.055899,-1.414252,-0.897744,-0.981867,-0.557857,0.622354,0.218074,0
3,0,0,0,0,0,1,0,0,1,0,...,-1.070971,-1.264816,-1.734030,0.032223,-0.305396,-0.500159,-0.301791,0.175534,0.697356,0
4,0,0,0,0,0,1,0,0,0,0,...,0.170599,0.687343,-0.910586,-0.951380,-1.287828,1.306249,1.746736,0.129311,1.162114,0

In [49]:
target.head()

0    0
1    0
2    0
3    0
4    0
Name: RainTomorrow, dtype: int8

In [50]:
X_train = df3[year < 2015]
X_test = df3[year >= 2015]
y_train = df3[year < 2015][target_column]
y_test = df3[year >= 2015][target_column]

X_train.shape, X_test.shape, y_train.shape, y_test.shape

((101018, 40), (44442, 40), (101018,), (44442,))

## Model

In [53]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import StratifiedKFold, cross_validate

model = LogisticRegression()
# skfold = StratifiedKFold(n_splits=10)
cv_results = cross_validate(model, data, target, cv=10, 
                            return_train_score=True, return_estimator=True,
                            n_jobs=-1, scoring='roc_auc')

cv_results = pd.DataFrame(cv_results)
cv_results.head()

   fit_time  score_time             estimator  test_score  train_score
0  2.401889    0.014549  LogisticRegression()    0.894409     0.866652
1  2.160220    0.021088  LogisticRegression()    0.827205     0.873346
2  2.141306    0.015537  LogisticRegression()    0.841381     0.871307
3  2.206500    0.013991  LogisticRegression()    0.830507     0.872454
4  2.089885    0.014128  LogisticRegression()    0.841986     0.871316

In [54]:
print(f"Train_scores:{cv_results['train_score'].mean()} +/- {cv_results['train_score'].std()}")
print(f"Test_scores:{cv_results['test_score'].mean()} +/- {cv_results['test_score'].std()}")

Train_scores:0.8690488472267768 +/- 0.0033713701850333535
Test_scores:0.859437774295977 +/- 0.034340229229190326